body{
    font-family: 'Roboto', sans-serif;
}

.list{
    background-color: darkred;
    border: 1px solid black;
    border-radius: 15px;
    width: 80%;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 4px 10px black;

}

.hobbies{
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 15px;
    width: 80%;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 4px 10px black;
}

h1 {
    text-align: center;
    font-weight: bold;
}

.hob-list, .name {
    text-align: center;
    font-weight: 400; 
}